<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ritchey.edusys.web.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.ritchey.edusys.web.model.Group" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="GROUP_NAME" property="groupName" jdbcType="NVARCHAR" />
    <result column="GROUP_CODE" property="groupCode" jdbcType="NVARCHAR" />
    <result column="GROUP_TYPE" property="groupType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, GROUP_NAME, GROUP_CODE, GROUP_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ritchey.edusys.web.model.GroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from EduSystemDatabase..T_AU_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EduSystemDatabase..T_AU_GROUP
    where ID = #{id,jdbcType=NUMERIC}
  </select>

  <select id="selectGroupByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT
    <include refid="Base_Column_List"/>
    FROM EduSystemDatabase..T_AU_GROUP
    WHERE ID IN
    (SELECT GROUP_ID FROM T_AU_USER_GROUP WHERE USER_ID = #{userId,jdbcType = NUMERIC} )

  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EduSystemDatabase..T_AU_GROUP
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.ritchey.edusys.web.model.GroupExample" >
    delete from EduSystemDatabase..T_AU_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ritchey.edusys.web.model.Group" >
    insert into EduSystemDatabase..T_AU_GROUP (ID, GROUP_NAME, GROUP_CODE, 
      GROUP_TYPE)
    values (#{id,jdbcType=NUMERIC}, #{groupName,jdbcType=NVARCHAR}, #{groupCode,jdbcType=NVARCHAR}, 
      #{groupType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ritchey.edusys.web.model.Group" >
    insert into EduSystemDatabase..T_AU_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="groupCode != null" >
        GROUP_CODE,
      </if>
      <if test="groupType != null" >
        GROUP_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=NVARCHAR},
      </if>
      <if test="groupCode != null" >
        #{groupCode,jdbcType=NVARCHAR},
      </if>
      <if test="groupType != null" >
        #{groupType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ritchey.edusys.web.model.GroupExample" resultType="java.lang.Integer" >
    select count(*) from EduSystemDatabase..T_AU_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update EduSystemDatabase..T_AU_GROUP
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=NVARCHAR},
      </if>
      <if test="record.groupCode != null" >
        GROUP_CODE = #{record.groupCode,jdbcType=NVARCHAR},
      </if>
      <if test="record.groupType != null" >
        GROUP_TYPE = #{record.groupType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update EduSystemDatabase..T_AU_GROUP
    set ID = #{record.id,jdbcType=NUMERIC},
      GROUP_NAME = #{record.groupName,jdbcType=NVARCHAR},
      GROUP_CODE = #{record.groupCode,jdbcType=NVARCHAR},
      GROUP_TYPE = #{record.groupType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ritchey.edusys.web.model.Group" >
    update EduSystemDatabase..T_AU_GROUP
    <set >
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=NVARCHAR},
      </if>
      <if test="groupCode != null" >
        GROUP_CODE = #{groupCode,jdbcType=NVARCHAR},
      </if>
      <if test="groupType != null" >
        GROUP_TYPE = #{groupType,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ritchey.edusys.web.model.Group" >
    update EduSystemDatabase..T_AU_GROUP
    set GROUP_NAME = #{groupName,jdbcType=NVARCHAR},
      GROUP_CODE = #{groupCode,jdbcType=NVARCHAR},
      GROUP_TYPE = #{groupType,jdbcType=INTEGER}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>