<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ritchey.edusys.web.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.ritchey.edusys.web.model.Role" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="roleName" property="rolename" jdbcType="NVARCHAR" />
    <result column="desc" property="desc" jdbcType="NVARCHAR" />
    <result column="roleSign" property="rolesign" jdbcType="NVARCHAR" />
    <result column="valid" property="valid" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, roleName, desc, roleSign, valid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ritchey.edusys.web.model.RoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from test..t_au_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from test..t_au_role
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from test..t_au_role
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.ritchey.edusys.web.model.RoleExample" >
    delete from test..t_au_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ritchey.edusys.web.model.Role" >
    insert into test..t_au_role (id, roleName, desc, 
      roleSign, valid)
    values (#{id,jdbcType=NUMERIC}, #{rolename,jdbcType=NVARCHAR}, #{desc,jdbcType=NVARCHAR}, 
      #{rolesign,jdbcType=NVARCHAR}, #{valid,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ritchey.edusys.web.model.Role" >
    insert into test..t_au_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
      <if test="desc != null" >
        desc,
      </if>
      <if test="rolesign != null" >
        roleSign,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=NVARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=NVARCHAR},
      </if>
      <if test="rolesign != null" >
        #{rolesign,jdbcType=NVARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ritchey.edusys.web.model.RoleExample" resultType="java.lang.Integer" >
    select count(*) from test..t_au_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update test..t_au_role
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.rolename != null" >
        roleName = #{record.rolename,jdbcType=NVARCHAR},
      </if>
      <if test="record.desc != null" >
        desc = #{record.desc,jdbcType=NVARCHAR},
      </if>
      <if test="record.rolesign != null" >
        roleSign = #{record.rolesign,jdbcType=NVARCHAR},
      </if>
      <if test="record.valid != null" >
        valid = #{record.valid,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update test..t_au_role
    set id = #{record.id,jdbcType=NUMERIC},
      roleName = #{record.rolename,jdbcType=NVARCHAR},
      desc = #{record.desc,jdbcType=NVARCHAR},
      roleSign = #{record.rolesign,jdbcType=NVARCHAR},
      valid = #{record.valid,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ritchey.edusys.web.model.Role" >
    update test..t_au_role
    <set >
      <if test="rolename != null" >
        roleName = #{rolename,jdbcType=NVARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=NVARCHAR},
      </if>
      <if test="rolesign != null" >
        roleSign = #{rolesign,jdbcType=NVARCHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ritchey.edusys.web.model.Role" >
    update test..t_au_role
    set roleName = #{rolename,jdbcType=NVARCHAR},
      desc = #{desc,jdbcType=NVARCHAR},
      roleSign = #{rolesign,jdbcType=NVARCHAR},
      valid = #{valid,jdbcType=TINYINT}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>