<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ritchey.edusys.web.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.ritchey.edusys.web.model.Role" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="ROLE_NAME" property="roleName" jdbcType="NVARCHAR" />
    <result column="ROLE_DESC" property="roleDesc" jdbcType="NVARCHAR" />
    <result column="ROLE_SIGN" property="roleSign" jdbcType="NVARCHAR" />
    <result column="VALID" property="valid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ROLE_NAME, ROLE_DESC, ROLE_SIGN, VALID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ritchey.edusys.web.model.RoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from EduSystemDatabase..T_AU_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EduSystemDatabase..T_AU_ROLE
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EduSystemDatabase..T_AU_ROLE
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.ritchey.edusys.web.model.RoleExample" >
    delete from EduSystemDatabase..T_AU_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ritchey.edusys.web.model.Role" >
    insert into EduSystemDatabase..T_AU_ROLE (ID, ROLE_NAME, ROLE_DESC, 
      ROLE_SIGN, VALID)
    values (#{id,jdbcType=NUMERIC}, #{roleName,jdbcType=NVARCHAR}, #{roleDesc,jdbcType=NVARCHAR}, 
      #{roleSign,jdbcType=NVARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ritchey.edusys.web.model.Role" >
    insert into EduSystemDatabase..T_AU_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC,
      </if>
      <if test="roleSign != null" >
        ROLE_SIGN,
      </if>
      <if test="valid != null" >
        VALID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=NVARCHAR},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=NVARCHAR},
      </if>
      <if test="roleSign != null" >
        #{roleSign,jdbcType=NVARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ritchey.edusys.web.model.RoleExample" resultType="java.lang.Integer" >
    select count(*) from EduSystemDatabase..T_AU_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="selectRoleByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM
    EduSystemDatabase..T_AU_ROLE
    WHERE ID in (
      SELECT ROLEID FROM EduSystemDatabase..T_AU_USER_ROLE WHERE USERID = #{userId,jdbcType = NUMERIC}
    )
  </select>








  <!--   update  -->

  <update id="updateByExampleSelective" parameterType="map" >
    update EduSystemDatabase..T_AU_ROLE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.roleName != null" >
        ROLE_NAME = #{record.roleName,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleDesc != null" >
        ROLE_DESC = #{record.roleDesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleSign != null" >
        ROLE_SIGN = #{record.roleSign,jdbcType=NVARCHAR},
      </if>
      <if test="record.valid != null" >
        VALID = #{record.valid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update EduSystemDatabase..T_AU_ROLE
    set ID = #{record.id,jdbcType=NUMERIC},
      ROLE_NAME = #{record.roleName,jdbcType=NVARCHAR},
      ROLE_DESC = #{record.roleDesc,jdbcType=NVARCHAR},
      ROLE_SIGN = #{record.roleSign,jdbcType=NVARCHAR},
      VALID = #{record.valid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ritchey.edusys.web.model.Role" >
    update EduSystemDatabase..T_AU_ROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=NVARCHAR},
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC = #{roleDesc,jdbcType=NVARCHAR},
      </if>
      <if test="roleSign != null" >
        ROLE_SIGN = #{roleSign,jdbcType=NVARCHAR},
      </if>
      <if test="valid != null" >
        VALID = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ritchey.edusys.web.model.Role" >
    update EduSystemDatabase..T_AU_ROLE
    set ROLE_NAME = #{roleName,jdbcType=NVARCHAR},
      ROLE_DESC = #{roleDesc,jdbcType=NVARCHAR},
      ROLE_SIGN = #{roleSign,jdbcType=NVARCHAR},
      VALID = #{valid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=NUMERIC}
  </update>


</mapper>