<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ritchey.edusys.web.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.ritchey.edusys.web.model.Users" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="USER_NAME" property="userName" jdbcType="NVARCHAR" />
    <result column="USER_PWD" property="userPwd" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="END_LOGIN_TIME" property="endLoginTime" jdbcType="TIMESTAMP" />
    <result column="PERSION_DOCU" property="persionDocu" jdbcType="NUMERIC" />
    <result column="VALID" property="valid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_NAME, USER_PWD, CREATE_TIME, END_LOGIN_TIME, PERSION_DOCU, VALID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ritchey.edusys.web.model.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from EduSystemDatabase..T_AU_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from EduSystemDatabase..T_AU_USER
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from EduSystemDatabase..T_AU_USER
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.ritchey.edusys.web.model.UsersExample" >
    delete from EduSystemDatabase..T_AU_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ritchey.edusys.web.model.Users" >
    insert into EduSystemDatabase..T_AU_USER (ID, USER_NAME, USER_PWD, 
      CREATE_TIME, END_LOGIN_TIME, PERSION_DOCU, 
      VALID)
    values (#{id,jdbcType=NUMERIC}, #{userName,jdbcType=NVARCHAR}, #{userPwd,jdbcType=NVARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{endLoginTime,jdbcType=TIMESTAMP}, #{persionDocu,jdbcType=NUMERIC}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ritchey.edusys.web.model.Users" >
    insert into EduSystemDatabase..T_AU_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPwd != null" >
        USER_PWD,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="endLoginTime != null" >
        END_LOGIN_TIME,
      </if>
      <if test="persionDocu != null" >
        PERSION_DOCU,
      </if>
      <if test="valid != null" >
        VALID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endLoginTime != null" >
        #{endLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="persionDocu != null" >
        #{persionDocu,jdbcType=NUMERIC},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ritchey.edusys.web.model.UsersExample" resultType="java.lang.Integer" >
    select count(*) from EduSystemDatabase..T_AU_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update EduSystemDatabase..T_AU_USER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.userPwd != null" >
        USER_PWD = #{record.userPwd,jdbcType=NVARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endLoginTime != null" >
        END_LOGIN_TIME = #{record.endLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.persionDocu != null" >
        PERSION_DOCU = #{record.persionDocu,jdbcType=NUMERIC},
      </if>
      <if test="record.valid != null" >
        VALID = #{record.valid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update EduSystemDatabase..T_AU_USER
    set ID = #{record.id,jdbcType=NUMERIC},
      USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      USER_PWD = #{record.userPwd,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      END_LOGIN_TIME = #{record.endLoginTime,jdbcType=TIMESTAMP},
      PERSION_DOCU = #{record.persionDocu,jdbcType=NUMERIC},
      VALID = #{record.valid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ritchey.edusys.web.model.Users" >
    update EduSystemDatabase..T_AU_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=NVARCHAR},
      </if>
      <if test="userPwd != null" >
        USER_PWD = #{userPwd,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endLoginTime != null" >
        END_LOGIN_TIME = #{endLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="persionDocu != null" >
        PERSION_DOCU = #{persionDocu,jdbcType=NUMERIC},
      </if>
      <if test="valid != null" >
        VALID = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ritchey.edusys.web.model.Users" >
    update EduSystemDatabase..T_AU_USER
    set USER_NAME = #{userName,jdbcType=NVARCHAR},
      USER_PWD = #{userPwd,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      END_LOGIN_TIME = #{endLoginTime,jdbcType=TIMESTAMP},
      PERSION_DOCU = #{persionDocu,jdbcType=NUMERIC},
      VALID = #{valid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>